/*
* Global
*/

html {
    height: initial;
    min-height: 100%;
    overflow-x: hidden;
    position: relative;
}

body {
    margin-bottom: 30px;
}

#content {
    margin-top: 50px;
}

/*
* Graphs page
*/

#dataChartContainer {
    height: 70vh;
}

/*
* Map page
*/

#map {
    height: 58vh;
}

#range-slider {
    margin-top: 20px;
    width: 90%;
}

/*
* Footer
*/

.footer {
    bottom: 0;
    position: absolute;
    height: 30px;
    width: 100%;
}
